<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&family=Roboto:wght@100;200;300;400;600;700;900&display=swap" rel="stylesheet">
    <title>Layout by Ponomarev</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top-bar">
                <a href="#" class="top-bar__logo">
                    <img src="images/logo.png" alt="logo" class="logo__image">
                    <span class="logo__text">tajam</span>
                </a>
                <div class="top-bar__nav">
                    <a class="link" href="#">HOME</a>
                    <a class="link" href="#">ABOUT</a>
                    <a class="link" href="#">EXPERTISE</a>
                    <a class="link" href="#">TEAMS</a>
                    <a class="link" href="#">WORKS</a>
                    <a class="link" href="#">PEOPLE SAY</a>
                    <a class="link" href="#">CONTACT</a>
                </div>
            </div>
            <div class="header__slider">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="header__main">
                            <h1 class="chapter">We Are Awesome Creative Agency</h1>
                            <p class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                                amet mauris. Morbi accumsan ipsum velit.</p>
                            <a href="#" class="button">learn more</a>
                        </div>
                        <div class="header__main">
                            <h1 class="chapter">We Are Awesome Creative Agency</h1>
                            <p class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                                amet mauris. Morbi accumsan ipsum velit.</p>
                            <a href="#" class="button">learn more</a>
                        </div>
                        <div class="header__main">
                            <h1 class="chapter">We Are Awesome Creative Agency</h1>
                            <p class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                                amet mauris. Morbi accumsan ipsum velit.</p>
                            <a href="#" class="button">learn more</a>
                        </div>
                        <div class="header__main">
                            <h1 class="chapter">We Are Awesome Creative Agency</h1>
                            <p class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                                amet mauris. Morbi accumsan ipsum velit.</p>
                            <a href="#" class="button">learn more</a>
                        </div>
                    </div>
                </div>
                <div data-glide-el="controls[nav]" class="dots">
                    <a data-glide-dir="=0"></a>
                    <a data-glide-dir="=1"></a>
                    <a data-glide-dir="=2"></a>
                    <a data-glide-dir="=3"></a>
                </div>
            </div>
        </div>
    </header>
    <section class="story">
        <div class="container">
            <div class="story__wrapper">
                <div class="story__logo">
                    <img src="images/story/logo-big.png" alt="logo-big">
                </div>
                <div class="story__info">
                    <h2 class="chapter">OUR STORY</h2>
                    <p class="text fc">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
                        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus</p>
                    <p class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                        Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
        </div>
        <div class="story__video" title="play">
            <div class="video__content">
                <div class="play">
                    <img src="images/story/play.svg" alt="play">
                </div>
                <p class="text">WATCH OUR STORY</p>
            </div>
        </div>
    </section>
    <section class="expertise">
        <div class="container">
            <h2 class="expertise__chapter">EXPERTISE</h2>
            <p class="expertise__text">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
            <div class="expertise__grid">
                <div class="item">
                    <div class="item__img-wrap">
                        <img src="images/expertise/monitor.svg" alt="monitor" class="item__img">
                    </div>
                    <h3 class="item__chapter">WEB DESIGN & DEVELOPMENT</h3>
                    <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet Aenean.</p>
                </div>
                <div class="item">
                    <div class="item__img-wrap">
                        <img src="images/expertise/brush.svg" alt="brush" class="item__img">
                    </div>
                    <h3 class="item__chapter">BRANDING IDENTITY</h3>
                    <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet Aenean.</p>
                </div>
                <div class="item">
                    <div class="item__img-wrap">
                        <img src="images/expertise/phone.svg" alt="phone" class="item__img">
                    </div>
                    <h3 class="item__chapter">MOBILE APP</h3>
                    <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet Aenean.</p>
                </div>
                <div class="item">
                    <div class="item__img-wrap">
                        <img src="images/expertise/diagram.svg" alt="diagram" class="item__img">
                    </div>
                    <h3 class="item__chapter">SEARCH ENGINE OPTIMIZATION</h3>
                    <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet Aenean.</p>
                </div>
                <div class="item">
                    <div class="item__img-wrap">
                        <img src="images/expertise/game.svg" alt="game" class="item__img">
                    </div>
                    <h3 class="item__chapter">GAME DEVELOPMENT</h3>
                    <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet Aenean.</p>
                </div>
                <div class="item">
                    <div class="item__img-wrap">
                        <img src="images/expertise/heart.svg" alt="heart" class="item__img">
                    </div>
                    <h3 class="item__chapter">MADE WITH LOVE</h3>
                    <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet Aenean.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <h2 class="team__chapter">MEET OUR AMAZING TEAM</h2>
            <p class="team__text">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
            <div class="team__slider">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide slide">
                            <div class="slide__img"></div>
                            <h3 class="slide__chapter">SEMF UCUK</h3>
                            <p class="slide__assignment">CEO & FOUNDER</p>
                        </div>
                        <div class="glide__slide slide">
                            <div class="slide__img"></div>
                            <h3 class="slide__chapter">DIK ADALIN</h3>
                            <p class="slide__assignment">ENGINEERING</p>
                        </div>
                        <div class="glide__slide slide">
                            <div class="slide__img"></div>
                            <h3 class="slide__chapter">JENG KOL</h3>
                            <p class="slide__assignment">DESIGNER</p>
                        </div>
                        <div class="glide__slide slide">
                            <div class="slide__img"></div>
                            <h3 class="slide__chapter">PET ROMAK</h3>
                            <p class="slide__assignment">MARKETING</p>
                        </div>
                        <div class="glide__slide slide">
                            <div class="slide__img"></div>
                            <h3 class="slide__chapter">123</h3>
                            <p class="slide__assignment">123</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="team__bot-text">Become part of our dream team, let’s join us ! </p>
            <a href="#" class="team__button">we are hiring</a>
    </section>
    <section class="works">
        <div class="container">
            <div class="works__wrapper">
                <h2 class="works__chapter">our works</h2>
                <a href="#" class="works__all-link">See All Project in dribbble</a>
            </div>
        </div>
        <div class="works__grid">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <a href="#" class="works__load-more">load more</a>
    </section>
    <section class="quotes">
        <div class="container">
            <div class="quotes__slider1">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide item">
                            <h2 class="item__quote">“</h2>
                            <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            <h3 class="item__author">JANE</h3>
                            <p class="item__assignment">CEO</p>
                        </div>
                        <div class="glide__slide item">
                            <h2 class="item__quote">“</h2>
                            <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            <h3 class="item__author">JANE</h3>
                            <p class="item__assignment">CEO</p>
                        </div>
                        <div class="glide__slide item">
                            <h2 class="item__quote">“</h2>
                            <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            <h3 class="item__author">JANE</h3>
                            <p class="item__assignment">CEO</p>
                        </div>
                        <div class="glide__slide item">
                            <h2 class="item__quote">“</h2>
                            <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            <h3 class="item__author">JANE</h3>
                            <p class="item__assignment">CEO</p>
                        </div>
                        <div class="glide__slide item">
                            <h2 class="item__quote">“</h2>
                            <p class="item__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            <h3 class="item__author">JANE</h3>
                            <p class="item__assignment">CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__slider2">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide">
                            <img src="images/quotes/person-1.png" alt="person-image" class="item">
                        </div>
                        <div class="glide__slide">
                            <img src="images/quotes/person-2.png" alt="person-image" class="item">
                        </div>
                        <div class="glide__slide">
                            <img src="images/quotes/person-3.png" alt="person-image" class="item">
                        </div>
                        <div class="glide__slide">
                            <img src="images/quotes/person-4.png" alt="person-image" class="item">
                        </div>
                        <div class="glide__slide">
                            <img src="images/quotes/person-5.png" alt="person-image" class="item">
                        </div>
                    </div>
                </div>
                <div data-glide-el="controls">
                    <div class="quotes__slider2-next" data-glide-dir=">"></div>
                    <div class="quotes__slider2-prev" data-glide-dir="<"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="contact__wrapper">
                <form action="" class="contact__form">
                    <h2 class="chapter">GIVE US A GOOD NEWS</h2>
                    <input placeholder="name" type="name" class="name">
                    <input placeholder="email" type="email" class="email">
                    <input placeholder="subject" type="text" class="subject">
                    <textarea placeholder="your message" class="text"></textarea>
                    <a href="#" class="submit">submit</a>
                </form>
                <div class="contact__clients">
                    <h2 class="chapter">
                        OUR HAPPY CLIENT
                    </h2>
                    <div class="brands">
                        <img class="brand-img" src="images/contact/zara.png" alt="zara">
                        <img class="brand-img" src="images/contact/mango.png" alt="mango">
                        <img class="brand-img" src="images/contact/berneys.png" alt="berney">
                        <img class="brand-img" src="images/contact/gucci.png" alt="gucci">
                        <img class="brand-img" src="images/contact/calvin-klein.png" alt="calvin-klien">
                        <img class="brand-img" src="images/contact/nike.png" alt="nike">
                        <img class="brand-img" src="images/contact/converse.png" alt="converse">
                        <img class="brand-img" src="images/contact/puma.png" alt="puma">
                        <img class="brand-img" src="images/contact/levis.png" alt="levis">
                        <img class="brand-img" src="images/contact/billa.png" alt="billa">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__content-wrapper">
                <div class="footer__info">
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="logo" class="logo__image">
                        <span class="logo__text">tajam</span>
                    </a>
                    <p class="text">lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit</p>
                </div>
                <div class="footer__studio">
                    <h3 class="chapter">OUR STUDIO</h3>
                    <a href="#" class="adress">Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
                        11480 - Indonesia</a>
                    <a href="tel:(+62) 21-2224 3333" class="phone">(+62) 21-2224 3333</a>
                </div>
                <div class="footer__contact">
                    <h3 class="chapter">STAY IN TOUCH</h3>
                    <div class="send">
                        <input placeholder="subscribe our newsletter" type="text" class="send__input">
                        <button class="send__button">
                            <img src="images/footer/send.png" alt="send">
                        </button>
                    </div>
                    <div class="social-media">
                        <a href="#" class="social-media__item">
                            <img src="images/footer/fb.png" alt="facebook-link">
                        </a>
                        <a href="#" class="social-media__item">
                            <img src="images/footer/twitter.png" alt="twitter-link">
                        </a>
                        <a href="#" class="social-media__item">
                            <img src="images/footer/dribbble.png" alt="dribbble-link">
                        </a>
                        <a href="#" class="social-media__item">
                            <img src="images/footer/insta.png" alt="instagram-link">
                        </a>
                        <a href="#" class="social-media__item">
                            <img src="images/footer/g+.png" alt="google-plus-link">
                        </a>
                        <a href="#" class="social-media__item">
                            <img src="images/footer/yt.png" alt="youtube-link">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__nav-wrapper">
                <nav class="nav">
                    <a href="#" class="nav__item">HELP</a>
                    <a href="#" class="nav__item">TERMS & CONDITION</a>
                    <a href="#" class="nav__item">PRIVACY</a>
                </nav>
                <p class="copyright">Copyright © 2015 - Tajem Creative</p>
            </div>
        </div>
    </footer>
</body>

</html>