// HEADER // HEADER // HEADER // HEADER // HEADER 
// HEADER // HEADER // HEADER // HEADER // HEADER 
// HEADER // HEADER // HEADER // HEADER // HEADER 

@media screen and (max-width: 770px) {

    .header {

        &__top-bar {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;

            .top-bar__nav {
                justify-items: center;
                align-items: center;
                width: 90%;
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));

                .link:not(:last-child) {
                    margin-right: 0;
                }

                .link {
                    margin-top: 10px;
                }
            }
        }

        &__slider {
            margin-top: 27px;
        }
    }

}

// STORY // STORY // STORY // STORY // STORY 
// STORY // STORY // STORY // STORY // STORY 
// STORY // STORY // STORY // STORY // STORY 

@media screen and (max-width: 889px) {

    .story {
        &__wrapper {
            justify-content: center;
        }

        &__logo {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }

        &__info {
            margin-top: 55px;

            .chapter {
                text-align: center;
            }

            .button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

// EXPERTISE // EXPERTISE// EXPERTISE// EXPERTISE
// EXPERTISE// EXPERTISE// EXPERTISE// EXPERTISE
// EXPERTISE// EXPERTISE// EXPERTISE// EXPERTISE

@media screen and (max-width: 962px) {
    .expertise {

        &__grid {

            .item {

                &:nth-last-child(-n + 3) {
                    border-right: 1px solid rgba(0, 0, 0, 0.09);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
                }

                &:nth-child(3n) {
                    border-right: 1px solid rgba(0, 0, 0, 0.09);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

                }

                &:nth-last-child(-n + 2) {
                    border-bottom: none;
                }

                &:nth-child(even) {
                    border-right: none;

                }

            }
        }
    }
}


@media screen and (max-width: 651px) {
    .expertise {

        &__grid {
            .item {
                border-right: none !important;

                &:nth-last-child(-n + 2) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

                }

                &:nth-child(even) {
                    border-right: none
                }

                &:last-child {
                    border-bottom: none;
                }

            }
        }
    }
}

@media screen and (max-width: 350px) {
    .expertise__grid {
        grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));

    }
}

// TEAM // TEAM // TEAM // TEAM // TEAM 
// TEAM // TEAM // TEAM // TEAM // TEAM 
// TEAM // TEAM // TEAM // TEAM // TEAM 

@media screen and (max-width: 350px) {

    .team {

        &__chapter {
            margin-top: 0;
            line-height: 26px;
        }

        &__text {
            font-size: 14px;
        }
    }
}


// WORKS // WORKS // WORKS // WORKS 
// WORKS // WORKS // WORKS // WORKS 
// WORKS // WORKS // WORKS // WORKS 

@media screen and (max-width: 386px) {

    .works {

        &__wrapper {
            justify-content: center;
        }

        &__all-link {
            margin-top: 15px;
        }

        &__chapter {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 405px) {

    .quotes__slider2 {
        width: 180px;

        .glide__slide {
            .item {
                margin-top: 20px;
                width: 28px;
                height: 28px;
            }

            &--active .item {
                transform: translate(0, 0) scale(1.3);
            }
        }
    }
}

// CONTACT // CONTACT // CONTACT // CONTACT 
// CONTACT // CONTACT // CONTACT // CONTACT 
// CONTACT // CONTACT // CONTACT // CONTACT 

@media screen and (max-width: 890px) {

    .contact {

        &__wrapper {
            justify-content: center;
        }

        &__form {

            .chapter {
                text-align: center;
            }

            .submit {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__clients {

            .chapter {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 373px) {
    .contact__clients .brands .brand-img {

        &,
        &:nth-child(even) {
            justify-self: center;
        }
    }
}

// FOOTER // FOOTER // FOOTER // FOOTER 
// FOOTER // FOOTER // FOOTER // FOOTER 
// FOOTER // FOOTER // FOOTER // FOOTER 

@media screen and (max-width: 665px) {

	.footer {

		&__info {
			
			.logo {
				margin-left: auto;
			margin-right: auto;
			}
		}

		&__studio,
		&__contact {
			.chapter {
				text-align: center;
			}
		}

		&__contact {
			.social-media {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

@media screen and (max-width: 576px) {

	.footer__nav-wrapper {
		justify-content: center;

		.copyright {
			margin-top: 20px;
		}
	}
}